TELEGRAM_BOT_TOKEN=123456:replace_me
POLL_INTERVAL_SECONDS=30
MAX_PARALLEL_SEARCHES=2
MAX_PARALLEL_ENRICHMENTS=4
TELEGRAM_POLL_TIMEOUT_SECONDS=20
TELEGRAM_READ_TIMEOUT_SECONDS=65
CAMOUFOX_ENABLE=0
MAX_LISTINGS_PER_SEARCH=40
MAX_NEW_LISTINGS_PER_CYCLE=10
MAX_LISTING_AGE_DAYS=3
MAX_PHOTOS_PER_MESSAGE=5
SEED_EXISTING_ON_START=1
STATE_DB_PATH=data/flats.db
