TELEGRAM_BOT_TOKEN=123456:replace_me
POLL_INTERVAL_SECONDS=20
TELEGRAM_POLL_TIMEOUT_SECONDS=20
TELEGRAM_READ_TIMEOUT_SECONDS=65
MAX_LISTINGS_PER_SEARCH=12
MAX_NEW_LISTINGS_PER_CYCLE=4
MAX_PHOTOS_PER_MESSAGE=3
HEADLESS=1
BLOCK_IMAGES=1
HUMANIZE=0
SEED_EXISTING_ON_START=1
STATE_DB_PATH=data/flats.db
